@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -40;
  }
}

.animate-dash {
  stroke-dasharray: 8 6;
  animation: dash 3s linear infinite;
}
